/* Body */
body {
    font-family: Arial, sans-serif;
    margin: 0% 0% 0% 0%;
}

/*Header*/
header {
    border-bottom: 2px solid #000000;
    padding-left: 0%;
    padding-right: 0%;
}

/* Main */
main {
    padding-left: 1%;
}

/* Nav Area*/
nav ul {
    background-color: #808080;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0 0 0 10px;
}

nav li {
    float: left;
}

nav li img {
    margin-inline-end: 10px;
    padding: 10% 0 0 10%;
}

nav li a {
    color: #FFFFFF;
    display: block;
    font-weight: bold;
    padding: 30px 16px;
    padding-bottom: 0%;
    text-align: center;
    text-decoration: none;
}

.right-li {
    float: right;
}

/* Footer */
.container.body-content {
    height: 1%; /* Force Height on Body Element */
    position: relative;
    clear: both;
}

#rendered-view-div {
    min-height: 820px;
}

.footer {
    background-color: #FFFFFF;
    border-top: 2px solid #000000;
    bottom: 0%;
    color: #808080;
    height: 2.5%;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    width: 100%;
}

.footer p {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    color: #000000;
    font-size: 20%;
}

.footer-left {
    float: left;
    padding-inline-start: 8px;
}

.footer-right {
    float: right;
}

.footer-right a {
    color: #808080;
    display: inline;
    text-decoration: none;
    padding: 0 0 0 20px;
    padding-inline-end: 8px;
}
