/* Body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    border-bottom: 2px solid #000000;
    padding: 0;
}

/* Main */
main {
    padding: 1%;
}

/* Nav Area*/
nav ul {
    background-color: #808080;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0 0 0 10px;
    width: 100%;
    height: 60px; /* Adjust the height as needed */
}

nav li {
    float: left;
}

nav li img {
    margin-inline-end: 10px;
    padding: 10% 0 0 10%;
}

nav li a {
    color: #FFFFFF;
    display: block;
    font-weight: bold;
    padding: 30px 16px;
    padding-bottom: 0%;
    text-align: center;
    text-decoration: none;
}

.right-li {
    float: right;
}

/* Footer */
.container.body-content {
    position: relative;
}

#rendered-view-div {
    min-height: 820px;
}

.footer {
    background-color: #FFFFFF;
    border-top: 2px solid #000000;
    color: #808080;
    text-align: center;
    padding: 10px;
}

.footer-left {
    float: left;
}

.footer-right {
    float: right;
}

.footer-right a {
    color: #808080;
    text-decoration: none;
    margin-left: 20px;
}

/* Movies Table */
table {
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #e6e6e6;
}

.poster-image {
    width: 100px;
    height: 150px;
}

.showings-link {
    color: #0000FF;
    text-decoration: none;
}
