<?xml version="1.0" encoding="utf-8"?>
<Project>
    <PropertyGroup>
        <Configuration>Release</Configuration>
        <DeleteExistingFiles>true</DeleteExistingFiles>
        <Platform>Any CPU</Platform>
        <PublishDir>bin\Publish\net6.0-windows</PublishDir>
        <PublishProtocol>FileSystem</PublishProtocol>
        <SelfContained>false</SelfContained>
        <TargetFramework>net6.0-windows</TargetFramework>
        <_TargetId>Folder</_TargetId>
    </PropertyGroup>
</Project>
