<!DOCTYPE html>
<html lang="en-US">
<head>
    <!-- Meta Info -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Page Title -->
    <title>BioBooker - @ViewBag.Title</title>
    <!-- Ref CSS -->
    <link rel="stylesheet" href="~/css/site.css">
</head>
<body>
    <!-- Header -->
    <header id="nav-header">
        <!-- Top Nav Area -->
        <nav>
            <ul>
                <li><img src="~/bb-logo.svg" scale="1.5" /></li>
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-controller="Home" asp-action="Index">Movies</a></li>
                <li><a asp-controller="Home" asp-action="Index">Movie Showings</a></li>
                <li><a asp-controller="Home" asp-action="Index">Movie Theaters</a></li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="right-li"><a asp-controller="Home" asp-action="Logout">Logout</a></li>
                }
                else
                {
                    <li class="right-li"><a asp-controller="Home" asp-action="Contact">Login</a></li>
                }
                <li class="right-li"><a asp-controller="Home" asp-action="My BioBooker">My BioBooker</a></li>
            </ul>
        </nav>
    </header>
    <!-- Main -->
    <main>
        <!-- Render View -->
        <div id="rendered-view-div">
            <h1>@ViewBag.Title</h1>
            @RenderBody()
        </div>
    </main>
    <!-- Footer -->
    <footer>
        <div class="container body-content">
            <div class="footer">
                <div class="footer-left">
                    Copyright &copy; 2023 BioBooker
                </div>
                <div class="footer-right">
                    <a asp-controller="Home" asp-action="Contact">Contact</a>
                    <a asp-controller="Home" asp-action="About">About</a>
                    <a asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
            </div>
        </div>
    </footer>
    <!-- Ref JS -->
    <script src="~/js/site.js"></script>
</body>
</html>
